{% extends 'base.html' %}

{% block title %}Novo Grupo{% endblock %}

{% block content %}
    <form action="{% url 'Endpoint:novogrupo' %}" method='post'>
        {% csrf_token %}
        <div>
            <label>Nome do grupo: </label>
            <input id="GpName" name="GpName" type="text" class="form-control">
        </div>
        <div>
            <label>Status do Grupo</label>
            <select id="GpStats" name="GpStats" class="form-control">
                <option value="True">Ativo</option>
                <option value="False">inativo</option>
            </select>
        </div>
        <div style="padding-bottom: 20px;">
            <label>Adicionar pessoas ao grupo:</label>
            <input id="GpUse" name="GpUse" type="text" placeholder="joao@email.com" class="form-control">
        </div>
        <div>
            <input type="submit" value="Salvar" class="form-control btn btn-success">
        </div>

    </form>
{% endblock %}